<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/infant/mocap/0113_infant/2019-01-13-15-46-58.bag -s 60"/>
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/stick_vlp32imu4cam/still/campus/20201028_112346.bag"/> -->

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find velodyne_pointcloud_to_depthimage)/rviz_config/velodyne_pointcloud_to_depthimage.rviz"/>

	<!-- sensor driver -->
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
	<!-- <include file="$(find velodyne_pointcloud)/launch/VLP&#45;32C_points.launch"/> -->

	<!-- main -->
	<node pkg="velodyne_pointcloud_to_depthimage" name="velodyne_pointcloud_to_depthimage" type="velodyne_pointcloud_to_depthimage" output="screen">
		<!-- <param name="num_ring" type="int" value="32"/> -->
		<!-- <param name="points_per_ring" type="int" value="1092"/> <!&#45;&#45; HDL&#38;#45;32E &#45;&#45;> -->
		<!-- <param name="points_per_ring" type="int" value="1812"/>	<!&#45;&#45; VLP&#38;#45;32C &#45;&#45;> -->
		<!-- <param name="depth_resolution" type="double" value="0.01"/> -->
		<!-- <param name="max_range" type="double" value="100.0"/> -->
		<param name="save_limit" type="int" value="10"/>
		<param name="save_root_path" type="string" value="$(find velodyne_pointcloud_to_depthimage)/saved/tmp"/>
		<!-- <param name="save_img_name" type="string" value="depth_"/> -->
	</node>
</launch>
